body {
    width: 300px;
    height: 200px;
    background-image: url("bg-imageBackground.png");
    background-size: cover;

    margin: 20px;

    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(16.8px);
    -webkit-backdrop-filter: blur(16.8px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

h1{
    font-family: consolas, serif;
    font-size: 2rem;
    text-align: center;
    color: white;
}

p{
    font-family: consolas, serif;
    font-size: 1rem;
    text-align: center;
}

.button {
    padding: 10px 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
}

.button:hover {
    background-color: hsl(223, 80%, 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(24, 80, 220) 0px 7px 29px 0px;
}

.button:active {
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}


#swatch{
    background: white;
    box-shadow: 1em 1em 1em rgba(0, 0, 0, .1);
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 50px;
}

#swatch .info{
    padding: 1em;
}

#swatch h1{
    margin: 0;
    text-transform: uppercase;
}

#swatch h2{
    font-weight: normal;
    margin: 0;
}

input{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    border: 0;
    cursor: pointer;
    height: 50px;
    padding: 6px;
    width: 275px;
    border-radius: 50px;
}

*:focus{
    border-radius: 0;
    outline: none;
}

::-webkit-color-swatch-wrapper {
    padding: 0;
}

::-webkit-color-swatch{
    border: 0;
    border-radius: 0;
}

::-moz-color-swatch,
::-moz-focus-inner{
    border: 0;
}

::-moz-focus-inner{
    padding: 0;
}
